<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card card-1">
          <img class="logo" width="200" height="50" src="../../../assets/b.png">
            <div class="card-body">
                <nav class="navbar nav navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                  
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link link" style="color:white" href="#" routerLink="/home">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#" routerLink="/about">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/donorlist">DONERS LIST</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" routerLink="/contact">CONTACT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" routerLink="/register">REGISTER</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#" routerLink="/login">LOGIN</a>
                                </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
                  <h6 class="head-1">Home</h6><strong class="head-2"> > DonorReport</strong>
                  <h5 class="card-title title">DonorReport</h5>
                 <div class="container">
                   <div class="row">
                     <div class="col-md-5">
                      <table class="table table-1 table-hover">
                        <thead class="thead">
                          <tr>
                            <th scope="col">S.no</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Name</th>
                            <th scope="col">BloodGroup</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Action</th>

                          </tr>
                        </thead>
                        <tbody>
                       
                        </tbody>
                      </table>
                     </div>
                   </div>
                 </div>
                 <img class="image" width="250" height="200"  src="../../../assets/5.jpg">
                 <img class="image-1" width="250" height="200"  src="../../../assets/Bloodbag.gif">
            <!-- <div class="footer"></div> -->
            
          </div>
          <nav class="navbar nav-1 ">
              <span class="navbar-brand span h1">@copyRights Created By Muhammed Asad Ali Akbar</span>
            </nav>
    </div>
    
  </div>
</div>